RewriteEngine On
# use for authentication
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

Header set Access-Control-Allow-Origin *

RewriteRule ^upload-photo$ core/upload-photo.php [L]

RewriteRule ^category$ controllers/category/category.php [L]
RewriteRule ^category/([0-9]+)$ controllers/category/category.php?categoryid=$1 [L]
RewriteRule ^category/active/([0-9]+)$ controllers/category/active.php?categoryid=$1 [L]
RewriteRule ^category/page/([0-9]+)$ controllers/category/page.php?start=$1 [L]
RewriteRule ^category/search$ controllers/category/search.php [L]

RewriteRule ^role$ controllers/settings/users/role/role.php [L]
RewriteRule ^role/([0-9]+)$ controllers/settings/users/role/role.php?roleid=$1 [L]
RewriteRule ^role/active/([0-9]+)$ controllers/settings/users/role/active.php?roleid=$1 [L]

### developer ###
RewriteRule ^developer$ controllers/developer/settings/user/developer/developer.php [L]
RewriteRule ^developer/([0-9]+)$ controllers/developer/settings/user/developer/developer.php?developerid=$1 [L]
RewriteRule ^developer/active/([0-9]+)$ controllers/developer/settings/user/developer/active.php?developerid=$1 [L]
RewriteRule ^developer/key/([A-Za-z0-9-]+)$ controllers/developer/settings/user/developer/key.php?developerkey=$1 [L]
RewriteRule ^developer/password$ controllers/developer/settings/user/developer/set-password.php [L]
RewriteRule ^developer/login$ controllers/developer/settings/user/developer/login.php [L]
RewriteRule ^developer/token$ controllers/developer/settings/user/developer/token.php [L]
RewriteRule ^developer/page/([0-9]+)$ controllers/developer/settings/user/developer/page.php?start=$1 [L]
RewriteRule ^developer/search$ controllers/developer/settings/user/developer/search.php [L]

RewriteRule ^products$ controllers/products/products.php [L]
RewriteRule ^products/([0-9]+)$ controllers/products/products.php?productsid=$1 [L]
RewriteRule ^products/active/([0-9]+)$ controllers/products/active.php?productsid=$1 [L]
RewriteRule ^products/page/([0-9]+)$ controllers/products/page.php?start=$1 [L]
RewriteRule ^products/search$ controllers/products/search.php [L]
RewriteRule ^products/read-products-by-category$ controllers/products/read-products-by-category.php [L]

RewriteRule ^users$ controllers/users/users.php [L]
RewriteRule ^users/([0-9]+)$ controllers/users/users.php?usersid=$1 [L]
RewriteRule ^users/active/([0-9]+)$ controllers/users/active.php?usersid=$1 [L]
RewriteRule ^users/page/([0-9]+)$ controllers/users/page.php?start=$1 [L]
RewriteRule ^users/search$ controllers/users/search.php [L]
RewriteRule ^users/read-users-by-category$ controllers/users/read-users-by-category.php [L]
            